In [1]:
import pandas as pd

In [11]:

TRAIN_CSV= '/home/azureuser/cloudfiles/data/dataset/train_csv_3d/Output2'
TEST_CSV = '/home/azureuser/cloudfiles/data/dataset/test_3d_csv/Tsv'

VALIDATION_CSV= '/home/azureuser/cloudfiles/data/dataset/validation_3d_csv/Tsv'

In [12]:
test_df= pd.read_csv(TEST_CSV, sep=',')
print(test_df.columns)

Index(['1000180', '3153026'], dtype='object')

In [13]:
test_df

        1000180  3153026
0       1000180  3657710
1       1000180  1950828
2       1000180  4071175
3       1000180  4691887
4       1000180  5000109
5       1000180  1307776
6       1000180   405337
7       1000396   987656
8       1000396  4692171
9       1000396  3152965
10      1000396  1000520
11      1000396  6537466
12      1000396  1561690
13      1000396  1000254
14      1000396  6537474
15      1000396  1000401
16      1000396  6537475
17      1000396  1000425
18      1000396  4692189
19      1000396   405565
20      1000396  2844628
21      1000396  1597758
22      1000396  1000258
23      1000396  2844617
24      1000396  1000223
25      1000396  2844671
26      1000396  3443433
27      1000396  4692048
28      1000396  2844456
29      1000396  1597482
...         ...      ...
676869   999665  6536830
676870   999665  3382872
676871   999665  3340892
676872   999665  3084180
676873   999665  1001541
676874   999665  4976055
676875   999665  6536819
676876   999665  7120491
676877   999665  6788021
676878   999665  3756831
676879   999665   999668
676880   999665  3495025
676881   999665  5618286
676882   999665  6536836
676883   999665  4691389
676884   999665  1494926
676885   999665   999666
676886   999665  6852053
676887   999665  4985862
676888   999665  7005397
676889   999665  5604109
676890   999665   999662
676891   999665  1467016
676892   999665  7033199
676893   999665  4687896
676894   999665   156961
676895   999665  6015193
676896   999665  5604110
676897   999665  2845773
676898   999665  1635932

[676899 rows x 2 columns]